.cards{
    background-color: bisque;
    border: none;
    width: 15rem; 
    border-radius: 0.5rem;
    margin: 2rem;
    margin-left: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    
   
}

img{
    width: 15rem;
    border-radius: 0.5rem;
   
}

.close{
    font-weight: bolder; 
    color: rgb(255, 255, 255);
    right: 1px;
    top: 1px;
    background-color: rgb(234, 65, 65);
    position: absolute;
    border-radius: 0.5rem; 
    border: none;
    padding: 0.5rem;
}


.btn{
    padding: 0.5rem; 
    margin: 1rem;
    border-radius: 0.5rem;
    border: none;
}  

.likeContainer{
    display: flex;
    flex-direction: row;
}

h3:first-letter{
    text-transform: uppercase;
}  

.likeContainer button{
    font-size: x-large;
}

.likes{
    font-size: x-large;
}
   
