.collection{
    display: grid;
    grid-template-columns: repeat(4,1fr);   
}

.page{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
    position: static;
}









