.home {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin: 0 auto;
    
}

.box1 {
    background:url("https://media.wired.com/photos/593261cab8eb31692072f129/master/w_2560%2Cc_limit/85120553.jpg") no-repeat center center/cover ;
  
}
.box2 {
    background:url("https://cdn.download.ams.birds.cornell.edu/api/v1/asset/128738361/1200") no-repeat center center/cover;

}

.box {
    height: calc(100vh - 130px);
    margin: 2rem;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    color:blue;
  
}